[2020-10-16 12:26] stephanbertl opened #8 "SciChart references process.env which is not available in Angular application"
File node_modules/scichart/constants/app.js uses process.env

`exports.IS_TEST_ENV = process.env.TEST_ENV === "1";`

This is not (easily) available in eg Angular applications.

[2020-10-20 19:30] klishevich commented on #8
Hi @stephanbertl thank you for posting this issue :). However we have not tried SciChart with Angular yet. And as long as Angular does not use Webpack there could be other problems not only with process.env. If you could provide some simple Angular example with integrated SciChart library, I would gladly take a deeper look.

[2020-10-21 08:42] stephanbertl commented on #8
Hi @klishevich,
actually it works well inside the Angular app. The only problem is the process.env. My temporary workaround was to globally define the process variable in the index.html

[code]

[2020-10-26 20:05] puremood2002 opened #10 "SciChart.js does not work with Create React App. Uncaught (in promise) TypeError: WasmModule2D is not a constructor"
Hi

I created a minimal react app with scichart.js, with a single component, it throws this error at run time
Uncaught (in promise) TypeError: WasmModule2D is not a constructor
Attached is the react app with this problem, please advise, thanks a lot.

[hello-issue-demo.zip](https://github.com/ABTSoftware/SciChart.JS.Examples/files/5441229/hello-issue-demo.zip)

[2020-10-28 09:28] klishevich commented on #10
@puremood2002  thank you for the issue and zip file. The problem is that Create React App does not support WebAssembly (https://stackoverflow.com/questions/59319775/how-to-use-webassembly-wasm-with-create-react-app) as for now I created a template project React + SciChart (https://github.com/klishevich/react-scichart-demo) and we will look into how to use Create React App with SciChart

[2020-10-28 15:48] puremood2002 commented on #10
Thanks

On Wed, Oct 28, 2020, 5:28 AM Michael Klishevich <notifications@github.com>
wrote:

[2020-10-28 22:25] puremood2002 opened #11 "unstable and duplicated charts in app"
Hi

I managed to integrate scichart.js into my react app using typescript. The app use several components, each creates a scichart. Running the app I see very unstable outcome: sometimes all charts draw but they are all duplicated (I have 5 components, 4 of them display lines, another display scatter) -all charts shown as line charts, or sometimes all charts shown as scatter charts; even sometimes

[2020-10-29 10:36] klishevich commented on #11
Hi @puremood2002 could you please also share this repo with me (klishevich) as I am the one who is responsible for SciChart.js library in SciChart organization.

[2020-10-29 13:04] puremood2002 commented on #11
Hi I just added you, please let me know if you get it, thanks.

[2020-10-29 16:06] klishevich commented on #11
@puremood2002 thank you for finding the bug :) which manifested itself when several charts were initialized in parallel. The problem is fixed in version 1.0.1247, please run `npm i scichart@1.0.1247` and check.

[2020-10-29 17:47] puremood2002 commented on #11
thank you very much. Using 1.0.1247 the problem is gone. But I got another problem: I added "Add Chart" function which you can invoke by clicking the "Add" button in my app, a new component is created correctly, but the chart surface is not rendering - I am testing with chart type of Scatter so when you add the new chart you select type "scatter" in UI. I updated code so every time my scatter char

[2020-10-29 18:39] klishevich commented on #11
@puremood2002 I fixed the issue for bubble and line charts, checkout my last commit in your repository

[2020-10-29 18:40] #11 closed

[2020-10-29 19:27] puremood2002 commented on #11
thanks a lot, it is resolved!

[2020-11-03 21:03] puremood2002 opened #12 "scichart background color change to default if multiple charts are plotted"
Hello

This is a follow up from my previous questions.
Using the same repository I shared with you, please try to add a few more chanrts - so that dashboard display multiple charts of same kind, for example, multiple line charts.
The line charts are configured with background white, but once I added multiple line charts the first line chart's background became black

Please advise, thanks.

[2020-11-04 01:00] puremood2002 opened #13 "scichart.js chart not working with safari (13.0.4)"
Hi

With same app I created with scichart (the repository I shared with you), it works with Chrome but in safari all charts are black  squares (all charts have white background).
Your system requirement seems to indicate safari 13.0+ is supported?

Please advise, thanks.

[2020-11-04 11:20] klishevich commented on #12
To fix the problem, please add `sciChartSurface.background = "white";` for each chart, `src/components/Line/Line.tsx` component does not have it now

[2020-11-04 11:30] klishevich commented on #13
I just tried it in Safari 14.0 and it seems to work. However there is an issue with the watermark. We are investigating it.

[2020-11-04 16:04] puremood2002 commented on #13
Thanks, my safari version is 13, I think your website says 13 is supported?

On Wed, Nov 4, 2020, 6:30 AM Michael Klishevich <notifications@github.com>
wrote:

[2020-11-04 16:07] puremood2002 commented on #12
Thanks, I probably missed it, but I do remember some times it's black and
after reload it became white, I will let you know if I see it again.

On Wed, Nov 4, 2020, 6:21 AM Michael Klishevich <notifications@github.com>
wrote:

[2020-11-04 16:18] puremood2002 commented on #13
Hi I am using example code for candle chart, the x-axil is category axil, I
am using the same data as in example, my chart is smaller than example, the
xaxil labels are all jumbled up, could you please let me know how to fix
it? thanks - here is a screen shot of my chart

[image: image.png]

On Wed, Nov 4, 2020 at 11:04 AM sally an <an.sally@gmail.com> wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-04 18:05] klishevich commented on #13
In order to prevent labels overlapping you can use on of the options:

- set numeric format, for instance `xAxis.labelProvider.numericFormat = ENumericFormat.Decimal_0` or `xAxis.labelProvider.numericFormat = ENumericFormat.Date_DDMM` for dates
- specify max number of ticks `xAxis.maxAutoTicks = 10`
- specify you custom function to display only days, like this
[code]

[2020-11-05 16:18] puremood2002 commented on #13
thanks I'll try it

On Wed, Nov 4, 2020 at 1:05 PM Michael Klishevich <notifications@github.com>
wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-05 23:16] puremood2002 commented on #12
Hi

Here is a screenshot of my safari version and the app I have - the charts
do not plot..
thanks.

Sally

On Wed, Nov 4, 2020 at 11:06 AM sally an <an.sally@gmail.com> wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-06 09:22] klishevich commented on #12
Hi @puremood2002 , I do not see the screenshot. And please the information into this issue "scichart.js chart not working with safari (13.0.4)" https://github.com/ABTSoftware/SciChart.JS.Examples/issues/13
As far as I understand the background problem is resolved, therefore I am closing the ticket

[2020-11-06 09:22] #12 closed

[2020-11-06 13:30] puremood2002 commented on #13
please see attached screenshot - for safari 13 scichart.js not showing any chart, thanks.

<img width="1792" alt="Screen Shot 2020-11-05 at 6 15 20 PM" src="https://user-images.githubusercontent.com/3439750/98371557-5acbce80-200a-11eb-81bc-eed4151d5d6c.png">

[2020-11-06 13:31] puremood2002 commented on #12
Hi

I just attached the screenshot to #13, it is still an issue, thanks.

On Fri, Nov 6, 2020 at 4:23 AM Michael Klishevich <notifications@github.com>
wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-06 13:51] puremood2002 commented on #13
Hi

I used your advice for label display, now it looks like "1d, 15d, 7d" etc,
they look pretty confusing to me ..
Also I see my other charts with numeric x-label has same issue, I am
attaching the screenshot here. Please advise, thanks.

On Thu, Nov 5, 2020 at 11:18 AM sally an <an.sally@gmail.com> wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-06 14:34] klishevich commented on #13
@puremood2002 could you please right click "inspect element" in Safari and open "console" there should be some error. Please attach the screenshot with the error.

As about labels there are three options as I described above: numericFormat, maxAutoTicks and formatLabel. Feel free to choose the one that suits best. For formatLabel you can use any function that accepts unixTimestamp and returns a st

[2020-11-06 14:55] puremood2002 commented on #13
Please see attached screenshot, thanks for your help.

On Fri, Nov 6, 2020 at 9:34 AM Michael Klishevich <notifications@github.com>
wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-06 19:27] klishevich commented on #13
@puremood2002 sadly I do not see any screenshots :(

[2020-11-07 01:11] puremood2002 commented on #13
<img width="1792" alt="Screen Shot 2020-11-06 at 9 54 12 AM" src="https://user-images.githubusercontent.com/3439750/98427729-43253200-206c-11eb-9a3d-97604bb86a6b.png">

[2020-11-07 01:11] puremood2002 commented on #13
I just added the image again, please try thanks.

[2020-11-07 01:12] puremood2002 commented on #13
I just added there again

On Fri, Nov 6, 2020 at 2:28 PM Michael Klishevich <notifications@github.com>
wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-09 21:45] puremood2002 opened #14 "Setting VS Code Debugging for SciChart.js: breakpoints in VSCode/Chrome Dev Tool are not being hit"
Hello

I am using vscode/chrome dev tool for debugging, after clicking a button which should trigger the breakpoint, the app continues without hitting the breakpoint, the breakpoints appear to be "unbound breakpoint", the output shows this after my app loaded, I wonder if this has anything to do with it. I was able to debug my app before converting it to typescript and using scichart.js

Or if you

[2020-11-10 14:09] puremood2002 commented on #13
Hello

I am trying to use option #1, but not sure how to import ENumericFormat?
Thanks

On Wed, Nov 4, 2020 at 1:05 PM Michael Klishevich <notifications@github.com>
wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-10 14:12] puremood2002 commented on #13
never mind I found it

On Tue, Nov 10, 2020 at 9:09 AM sally an <an.sally@gmail.com> wrote:

--

╭(╯o╰)╮♫♫♫♫♫

[2020-11-10 18:56] klishevich commented on #10
We created Create React App Demo with SciChart.js - https://github.com/ABTSoftware/SciChart.JS.Examples/tree/master/Sandbox/demo-create-react-app-scichart

[2020-11-10 18:56] #10 closed

[2020-11-12 11:21] klishevich commented on #14
Hi @puremood2002 this is a TypeScript boilerplate project for SciChart.js debugging in VS Code.

[2020-11-12 14:02] puremood2002 commented on #14
thanks I will give it a try

[2020-11-16 07:51] #14 closed

[2020-11-22 09:32] klishevich commented on #8
Hi @stephanbertl, we released SciChart.js version 1.0.1293, where we added the check for **process** variable. Moreover we created Angular with SciChart.js boilerplate project - https://github.com/ABTSoftware/SciChart.JS.Examples/tree/master/Sandbox/demo-angular-scichart

[2020-11-22 09:32] #8 closed

[2020-11-26 02:29] hecto932 opened #20 "Using Scichart with create-react-app"
Hello guys!

I'm trying to set it up this lib on a `create-react-app`  is there any tutorial to set this library on it ?

Should I always use a custom project using webpack.config.js or can I rewrite the webpack config for one create-react-app project ?

![image](https://user-images.githubusercontent.com/5354758/100300989-6ac53700-2f54-11eb-8c68-94b1548390dd.png)

![image](https://user-images.gith

[2020-11-27 06:38] klishevich commented on #20
Hi @hecto932 we have a boilerplate project with Create React App. Please check it out - https://github.com/ABTSoftware/SciChart.JS.Examples/tree/master/Sandbox/demo-create-react-app-scichart

[2020-12-03 05:19] hecto932 commented on #20
Excellent! Thank you @klishevich

[2020-12-05 17:14] #20 closed

[2020-12-09 06:31] hecto932 opened #21 "Getting XyDataSeries by Zoom applied"
Hi guys!

Do we have one method to get xyDataSeries base on some zoom state?

![image](https://user-images.githubusercontent.com/5354758/101593562-5ef25f80-39ad-11eb-852b-6779732681b7.png)

For example:

I'm using RubberBandXyZoomModifier to make zoom on the chart, but i would like to get all of the points contained inside that area selected.

Is this possible?

[2020-12-09 08:50] klishevich commented on #21
Hi @hecto932, isn't that how it works now?

[2020-12-09 11:41] andyb1979 commented on #21
Hi Hector - I think what you're asking for is

 1. Rubber band draw a rectangle but not zoom
 2. Get some kind of notification when the user stopped dragging the mouse
 3. Get a list of all the data-points (x,y values) inside the rectangle

Answer: yes it is possible but I need to know exactly what you want to achieve before creating some sample code.

Thanks!

[2020-12-09 16:55] hecto932 commented on #21
Hello @andyb1979.

Sorry for the confusion, but that is exactly what I'm looking for.

I would like to draw a rectangle without zoom on the chart and make a calculation to get all the data-points (x,y values) inside the rectangle

[2020-12-10 17:48] klishevich commented on #21
Hi @hecto932 we created simple data selection example. Please find it here - https://github.com/ABTSoftware/SciChart.JS.Examples/tree/master/Sandbox/CustomerExamples/SimpleDataPointSelectionModifier

[2020-12-10 18:35] hecto932 commented on #21
Thank you @klishevich !

I'll take a look at it.

[2020-12-11 09:14] andyb1979 commented on #21
Thanks for the feature request @hecto932, Michael created a sample above - using our custom modifier API. The Custom ChartModifier API in scichart.js is very powerful and there's lots of behaviour mods you can create with it. Let us know if you need anything else!

Best regards,
Andrew

[2020-12-16 15:00] umernawaz0301 opened #24 "Using SciChart.js with react-app-rewired, customize-cra and Babel"
We have a project, which Reactjs based, using react-app-rewired, customize-cra, and Babel (not webpack).

We want to use scichart in our project, but right now I'm facing difficulty, when i include SciChart into our project.

Can anyone please guide me on how should I do that? This is the issue I'm facing ATM

![image](https://user-images.githubusercontent.com/17135788/102364998-e9077d00-3fd8-11eb

[2020-12-16 16:07] andyb1979 commented on #24
Hello!

If you can share us a project that reproduces this issue + some
instructions (as we are not familiar with Babel) our team will be happy to
investigate.

Best regards,
Andrew

On Wed, Dec 16, 2020 at 3:00 PM Umer Nawaz <notifications@github.com> wrote:

[2020-12-16 16:13] #21 closed

[2020-12-16 20:06] klishevich commented on #24
Hi @umernawaz0301 when adding SciChart.js into a project it is important to place `scichart2d.wasm` file in the same folder as the bundle.js file and `scichart2d.data` into the root folder.
We have create-react-app example where we use copy-files-from-to to solve this problem (https://github.com/ABTSoftware/SciChart.JS.Examples/tree/master/Sandbox/demo-create-react-app-scichart).
In addition we ha

[2020-12-17 14:07] umernawaz0301 commented on #24
Hello!

Sure @andyb1979, I will be more than happy to create a demo project for you guys.

@klishevich Thank you for the example links I will look into these as well

Thank you!

[2021-01-06 17:57] hecto932 opened #26 "Point maker issues on LineSeries"
Hello guys,

I'm working with Charts in both the orientations (horizontal and vertical by default), but I'm getting this weird behavior with the point makers on vertical mode.

![image](https://user-images.githubusercontent.com/5354758/103802886-10b49880-500d-11eb-9c78-dbd9554463e9.png)

Here are my initial settings to draw the sci chart surface

[code]

Here are my settings for each line serie

[

[2021-01-06 17:59] andyb1979 commented on #26
Hey Hector

It might be a bug. Is that code above enough to reproduce the problem in
full?

On Wed, 6 Jan 2021 at 17:58, Hector Jose Flores Colmenarez <
notifications@github.com> wrote:

[2021-01-06 18:37] hecto932 commented on #26
Hey @andyb1979, thanks for your response.

Yes, that was what I thought.

It might be enough to reproduce the problem

![image](https://user-images.githubusercontent.com/5354758/103807333-7c016900-5013-11eb-8e72-06c9d4c0228b.png)

Do you need anything else?

[2021-01-08 08:13] #24 closed

[2021-01-08 08:32] klishevich commented on #26
Hi @hecto932
We had a fix for this issue. Please make sure you are using the latest SciChart.js version 1.1.1362.

[2021-01-08 15:47] hecto932 commented on #26
Awesome guys!

Now, it's working :)

![image](https://user-images.githubusercontent.com/5354758/104034418-15548a80-518e-11eb-9c3c-39c81b3870ef.png)

[2021-01-08 20:27] hecto932 opened #27 "BoxAnnotation issues on vertical mode"
Hey guys, here me again.

Currently, I think I found a bug using box annotation on Vertical mode. I'm using Box Annotation to mark some specific area on the chart.

Initial setup for scichart surface is:

[code]

For example on vertical mode is happening:

[code]

![image](https://user-images.githubusercontent.com/5354758/104060721-9292f600-51b4-11eb-8229-56269b7154d8.png)

But in Horizontal mode

[2021-01-11 08:34] #26 closed

[2021-01-12 14:26] klishevich commented on #27
Hi @hecto932, thank you for reporting the bug. We have fixed it in version 1.1.1369. Cheers :)

[2021-01-13 08:39] #27 closed

[2021-01-18 19:18] hecto932 opened #28 "Multicharting"
Hey guys,

is it possible to have many scichart charts on the same screen?

I'm looking to make something like this.

![image](https://user-images.githubusercontent.com/5354758/104955248-2455ec80-5987-11eb-9e49-f1326f25c337.png)

Do you have a similar example ?

[2021-01-19 18:31] klishevich commented on #28
Hi @hecto932! Sure it is possible take a look at Audio Analyzer Demo it has 3 charts on one page - https://demo.scichart.com/javascript-audio-analyzer-fft-example , source code is here-
https://github.com/ABTSoftware/SciChart.JS.Examples/blob/master/Examples/src/components/Examples/FeaturedApps/ScientificCharts/AudioAnalyzer/index.tsx
Let me know if it helps!

[2021-01-22 09:30] #28 closed

[2021-02-22 22:42] hecto932 opened #43 "Uncaught TypeError: Passing a number "-1""
Hey guys,

Many times when I'm adding data to the chart I'm getting this uncaught error when I'm adding data to the chart:

![image](https://user-images.githubusercontent.com/5354758/108779616-5e855180-7524-11eb-9c43-4091ded602a5.png)

Could you please tell me what could it be?

thanks

[2021-02-22 22:44] andyb1979 commented on #43
Hey Hector

Not seen it before but it looks like a type conversion between javascript
and WebAssembly. Can you send us a sample of code that reproduces the
error? Hit test in the stack trace suggests cursors or tooltips are being
used if that helps repro

Best regards,
Andrew

On Mon, 22 Feb 2021 at 22:43, Hector Jose Flores Colmenarez <
notifications@github.com> wrote:

[2021-02-22 23:07] hecto932 commented on #43
![image](https://user-images.githubusercontent.com/5354758/108781872-d1dc9280-7527-11eb-86c4-e9e18cbb37e5.png)

Here the complete error in console

I think that it could be that the timestamp values are bigger than expected

I'll work on some example

[2021-02-23 20:56] hecto932 commented on #43
Ok guys, sorry for late.

I've been working on some example for you:

![image](https://user-images.githubusercontent.com/5354758/108906712-699cb800-75de-11eb-9143-652692ddf148.png)

[code]

I'm not pretty sure, but it looks that something is happening with the cursor modifiers

![image](https://user-images.githubusercontent.com/5354758/108906977-c1d3ba00-75de-11eb-96c5-cdcd639c92b1.png)

Here is h

[2021-02-23 21:00] hecto932 commented on #43
Here one more screenshot of what I got when I pass the mouse cursor on the chart.

It's getting the error many times while I'm into the chart.

![image](https://user-images.githubusercontent.com/5354758/108907471-576f4980-75df-11eb-8221-b19d4cad9844.png)

[2021-02-23 21:19] andyb1979 commented on #43
Thanks Hector! I've created a task in our issue tracker here. https://abtsoftware.myjetbrains.com/youtrack/issue/SCJS-481

We will notify you when we have an update

Thanks for reporting!

[2021-02-24 16:59] klishevich commented on #43
Hi @hecto932 I tried to reproduce the problem with the similar code, but have not succeeded. Everything works fine. I believe I need a sample project with this error to fix it.

This is the code I used:

[code]

Best regards,
Michael

[2021-02-24 18:41] hecto932 commented on #43
Hey, @klishevich thanks for the response.

I'll try to replicate your answer because I saw some differences.

However, I'm going to try to provide you completed example to looking into it better.

[2021-02-24 21:06] andyb1979 commented on #43
Yes please do Hector, our team spends a lot of time trying to reproduce
issues reported by our userbase. It really is helpful to have the code /
steps to repro straight away.

Best regards,
Andrew

On Wed, Feb 24, 2021 at 6:42 PM Hector Jose Flores Colmenarez <
notifications@github.com> wrote:

[2021-02-25 07:44] hecto932 commented on #43
Hey @klishevich @andyb1979

This is the best sample I can give you. Basically is an entire react component:

[code]

A couple of things that I've noticed working on it:

- It seems for RolloverModifier has an issue when I'm using attach and detach function on the setTooltip function

![image](https://user-images.githubusercontent.com/5354758/109119139-81209180-7701-11eb-86b7-da9da4fbe11f.png)

[co

[2021-02-25 15:10] klishevich commented on #43
Hi @hecto932 thank you for the code example it helped me to reproduce the bug. The problem was that CursorModifier and RolloverModifier had a problem working with RenderableSeries having empty DataSeries. Exactly as it was in your example. The error happened in HitTestProvider for empty DataSeries.
The bug was fixed in version 1.2.1452. Now if DataSeries is empty for some RenderableSeries the Curs

[2021-02-25 16:49] hecto932 commented on #43
Thank you so much, guys. The issue was successfully fixed!

I'm going to open another issue related to the doubled legend on the chart.

[2021-03-02 17:04] #43 closed

[2021-03-05 07:44] hecto932 opened #55 "Javascript: Uncaught Error: currentRenderPassData should not be undefined"
Hello scichart team,

I got this error when I'm testing this example

https://demo.scichart.com/javascript-chart-rollovermodifier-tooltips

![image](https://user-images.githubusercontent.com/5354758/110083126-8c03a380-7d4b-11eb-8cae-01533591c041.png)

It seems it happens when the chart is loading and I pass the cursor on the scichart surface component.

I can't remove and add new series on it.

[2021-03-08 07:04] Nipatsku opened #56 "Create-react-app + SciChart unexpected behavior with effects"
Hi, I tried modifying the JS.Examples demo-create-react-app-scicharts application, by moving the test data behind an state that is changed by an interval.

On recently updated Google Chrome I get WebGL errors in console

And eventually crash

I suppose there is a memory leak when the data changes. I have tried my best to properly dispose the chart and all components in the useEffect cleanup functi

[2021-03-08 13:07] jwo opened #57 "Hover/Legend not working when updating data asyncronously (React)"
Hi there! Using the https://demo.scichart.com/javascript-line-chart if I move the data to update asyncronously (like from an API), the legend and the hover bar don't seem to work. They'll work on the _next_ render, but not right away.

Below the green hover bar only appears if I move my mouse between the graph and the incorrectly positioned legend.
![image](https://user-images.githubusercontent.co

[2021-03-10 10:35] klishevich commented on #55
Hi @hecto932 thank you for creating the issue, we will look into it.

[2021-03-10 14:47] observerjnr commented on #57
Looks like the layout issue is caused by the chart being initialized multiple times:
[code]

I suggest initializing it once, and then, on incoming data updates,
just add new Line Series or append the values to the existing data series.

Please check the snippet below.
I tried modifying your example to implement the behavior that I believe you are trying to achieve.
[code]

[2021-03-10 14:54] klishevich commented on #55
Hi again @hecto932 :), please check out version 1.2.1473 containing the fix and let us know!

[2021-03-10 15:59] jwo commented on #57
@observerjnr  I don't hate the idea; being able to simply add/change data on an existing wasm instance seems an optimal way to go.

What I might suggest is a way to clear it out and rebuild it easily. For example, in react, you might make changes on a form and get data from API pretty frequently, so instead of me keeping track of what's been on the chart, a usual pattern is to simply give the data

[2021-03-10 16:16] andyb1979 commented on #57
Hi Jesse

The function call sciChartSurface.invalidateElement() schedules a redraw,
however it may not draw immediately as we internally throttle/schedule
draws.

Is that what you were looking for?

Best regards,
Andrew

On Wed, Mar 10, 2021 at 3:59 PM Jesse Wolgamott <notifications@github.com>
wrote:

[2021-03-10 16:48] hecto932 commented on #55
Hi @klishevich

I'll look into it!

Thanks

[2021-03-10 17:07] observerjnr commented on #56
Hello,

You may want to check this thread https://github.com/ABTSoftware/SciChart.JS.Examples/issues/57

Also I was able to fix the snippet by handling the data update logic separately from instantiation.

[code]
The full solution attached.
[App.txt](https://github.com/ABTSoftware/SciChart.JS.Examples/files/6117632/App.txt)

[2021-03-10 18:37] jwo commented on #57
however it may not draw immediately as we internally throttle/schedule
draws.

@andyb1979 that seems reasonable, but I found `sciChartSurface.renderableSeries.clear()` which I think accompishes what I really want. and if I combine it with @observerjnr  method of splitting chart and data, I get something that works pretty well. The hover works, and the legend works.

The Zoom on the chart is not qu

[2021-03-10 20:52] klishevich commented on #57
hi @jwo try to call `sciChartSurface.zoomExtents()`

[2021-03-10 22:17] jwo commented on #57
@klishevich that worked!

Ok, so yes I think with all these things, no code change needed.

I would recommend that y’all add a documentation with async data that uses the techniques above.  Feel free to use my example, but you probably have better ones.

Thanks for working this through with me!

feel free to close if you like, I’m all good here

[2021-03-11 02:52] hecto932 opened #61 "Calling an function after onMouseUp event on rubberBandXyZoomModifier"
Hi, again guys!

Currently, I would like to call a custom function after make zoom in using a rubberBandXyZoomModifier.

So here I have an example about how I'm using the `modifierMouseUp` event to call a custom function

What would I like to do?

I would like to switch between zoomPanModifier and rubberBandXyZoomModifier, and when I'm using a rubberBandXyZoomModifier I would like to call a custom

[2021-03-11 10:12] klishevich commented on #61
Hi @hecto932 you should create your custom modifier by extending RubberBandXyZoomModifier, here you can find an example -  https://github.com/ABTSoftware/SciChart.JS.Examples/blob/master/Sandbox/CustomerExamples/CreateAnnotationsDynamically/src/CreateAnnotationModifier.ts
Let me know if it helps

[2021-03-11 10:20] observerjnr commented on #61
Also, you can assign different mouse buttons to the modifiers, to prevent conflicts if they are used simultaneously
[code]

[2021-03-11 10:26] #55 closed

[2021-03-11 10:27] #57 closed

[2021-03-11 12:12] Nipatsku commented on #56
@observerjnr Thanks! With your help and the linked thread I was able to get this test working.

[2021-03-11 12:12] #56 closed

[2021-03-11 12:17] Nipatsku commented on #56
Linking final solution

[App.txt](https://github.com/ABTSoftware/SciChart.JS.Examples/files/6122885/App.txt)

[2021-03-11 16:37] hecto932 commented on #61
I'll check those examples

Thanks, @klishevich @observerjnr

[2021-03-12 06:42] hecto932 commented on #61
This is what I did and it solved my issue :)

[code]

Do you have any comments about it?

[2021-03-15 10:01] klishevich commented on #61
Hi @hecto932 it looks fine :)!

[2021-03-15 10:01] #61 closed

[2021-03-15 13:23] andyb1979 commented on #61
Hi Hector - looks good! That is precisely how to extend the
RubberBandXyZoomModifier using typescript. Good job!

On Mon, Mar 15, 2021 at 10:02 AM Michael Klishevich <
***@***.***> wrote:

[2021-03-16 18:31] jwo opened #63 "Touch devices: zoom"
Is there an option to enable touch-devices zoom/pan? It works with a mouse and with a laptop touch screen, but if I view the Zoom/Pan example in an ipad, the zooming doesn't work how I expect it to. Instead, it zooms in on the page itself, not the chart instance.

![scichart](https://user-images.githubusercontent.com/123075/111361299-af87f180-865b-11eb-8fe7-bc186e21f7cf.gif)

Examples where this d

[2021-03-16 20:42] andyb1979 commented on #63
Hey Jesse

Thanks for reporting, touch screen issues are on our work queue and
in-progress already (link to task here
https://abtsoftware.myjetbrains.com/youtrack/issue/SCJS-375) and we aim to
get them resolved soon.

Will notify you when we have an update!

Best regards,
Andrew

On Tue, Mar 16, 2021 at 6:32 PM Jesse Wolgamott ***@***.***>
wrote:

[2021-03-16 21:09] jwo commented on #63
@andyb1979 perfect, thank you!

[2021-03-17 08:13] observerjnr commented on #63
Hello Jesse,
You can set  `touch-action: none;` on the chart root element to prevent the default browser touch behavior.
That will allow the chart modifiers to respond properly...

https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action

[2021-03-17 08:16] hecto932 opened #64 "Getting X and Y pair values when we get XyDataSeries by Zoom area"
Hello!

Is there is any way to get the X and Y pair values when we create a box annotation?

This issue is related to #21

[2021-03-17 10:10] klishevich commented on #64
Hi @hecto932 if you need to get box coordinates out of RubberBandXyZoomModifier, you need to create you custom modifier extending RubberBandXyZoomModifier. Please take a look at this example, it shows how to extend chart modifiers - https://github.com/ABTSoftware/SciChart.JS.Examples/tree/master/Sandbox/CustomerExamples/RangeSelectionWithCustomModifier

[2021-03-18 00:03] hecto932 commented on #64
Awesome @klishevich!

 I'll look into it

[2021-03-19 19:20] hecto932 commented on #64
@klishevich

Following that example above and trying to make something like #21, how can I get all the XYDataSeries by Range Selection on X-axis?

Do we have some method to test Bounds just in the X range?

[2021-03-20 03:32] hecto932 opened #67 "Issues with RolloverModifier"
Hi guys!

I'm adding the rolloverModifier to watch the values on the chart using the cursor and I'm getting this issue.

![image](https://user-images.githubusercontent.com/5354758/111857867-b5970000-88f1-11eb-9e00-4f7a3f8ffba3.png)

Also, I don't know if this is a bug, but I need to know when each modifier is being attached or detached, so when I comment on this code from the example, it works.

[

[2021-03-22 14:04] klishevich commented on #64
Hi @hecto932 take a look at Hit-Test API - https://demo.scichart.com/javascript-chart-hit-test-on-click

[2021-03-22 14:56] klishevich commented on #67
Hi @hecto932! Because for some of the modifiers (for RolloverModifier) onAttach and onDetach methods are used internally we cannot just override them, we need to call super. Therefore, you should create a custom modifier like this:
[code]

[2021-03-23 05:15] hecto932 commented on #67
Hi @klishevich!

Thank you for the idea of creating a custom rollover modifier.

I don't know why, but I'm still getting the same issue trying to display the tooltip

<img width="1674" alt="Screen Shot 2021-03-22 at 9 57 05 PM" src="https://user-images.githubusercontent.com/5354758/112096640-e9755e00-8b5b-11eb-9508-d7679788b7a9.png">

In that image, the tooltip has been added, but It isn't showing

[2021-03-24 11:16] klishevich commented on #67
Hi @hecto932 the problem is this line `resScichartSurface.annotations.clear()`:

[code]

When you call annotations.clear() it clears all the annotations including RolloverModifier VerticalLine annotation. Just remove this line and it will fix the issue.

[2021-03-24 17:09] hecto932 commented on #67
Hi @klishevich, thanks for your response.

Why is the rollover being affecting by this?

Is it a bug?

Why should be the right way to delete all the annotations on the surface?

[2021-03-24 20:59] andyb1979 commented on #67
Hi Hector

Good point, we were discussing today how the annotation collections exposed
by the API should be separate to the annotations for modifiers (like the
rollover). This is how it is on other platforms of SciChart (Windows,
mobile).

We'll take a look at this and get back to you. In the meantime, does the
workaround work?

Best regards,
Andrew

On Wed, Mar 24, 2021 at 5:09 PM Hector Jose Flo

[2021-03-25 19:04] hecto932 commented on #67
Hi @andyb1979, thanks for your response.

Yes, I think in the meantime this solution works for me.

Please, feel free to share with me any update about how you are going to handle the Annotations or Modifiers in the future

Regards!

[2021-03-26 10:26] #67 closed

[2021-03-31 23:19] hecto932 opened #78 "Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'."
Currently, my scichart surface is having data changes fastly and when I call this function.
[code]

![image](https://user-images.githubusercontent.com/5354758/113222600-3af8a980-923c-11eb-8ad1-0a62958636ea.png)

![image](https://user-images.githubusercontent.com/5354758/113222629-477d0200-923c-11eb-95ad-738925798a85.png)

![image](https://user-images.githubusercontent.com/5354758/113222656-5368c40

[2021-04-02 13:07] #64 closed

[2021-04-02 13:08] klishevich commented on #78
Hi @hecto932 could you please provide the source code to reproduce the error

[2021-04-15 08:11] #78 closed

[2021-04-23 16:26] observerjnr commented on #63
Hello @jwo
We have finally released the PinchZoomModifier feature.
Check out [this example](https://demo.scichart.com/zoom-pan-multiple-modifiers)

[2021-04-23 16:46] jwo commented on #63
@observerjnr looks perfect! Great job. Thank you

[2021-04-26 08:33] #63 closed

[2021-04-26 22:15] texas697 opened #82 "Clearing /Removing Series with RolloverModifier causing error"
same issue as this ticket.
https://github.com/ABTSoftware/SciChart.JS.Examples/issues/78

"scichart": "1.4.1566"

[code]

"drawChart.js"

[code]

"updateChartWithData.js"
[code]

"LineChart.js"

[code]

Also if possible maybe you can see why the tooltip is not updating the styles after changing themes. It doesn't make the change until I change chart types. I assume that is because the Chart is bei

[2021-04-28 10:04] klishevich commented on #82
Hi @texas697

I was not able to run you example, but I tried a similar one where on change I clear RenderableSeries.
Please note the sciChartSurface.renderableSeries.clear() just removes all renderable series from the SciChartSurface. To prevent memory leaks you also need to delete renderableSeries and dataSeries.

[code]

My example works without any problem.
If you are still experiencing this is

[2021-04-28 12:43] andyb1979 commented on #82
Point of discussion:

Should RenderableSeries.clear() also delete?
We could potentially make this an optional flag in .clear() e.g.

[code]

On Wed, Apr 28, 2021 at 11:04 AM Michael Klishevich <
***@***.***> wrote:

[2021-05-01 09:31] klishevich commented on #82
Hi @texas697
In fact there was a bug, when removing/clearing renderableSeries with RolloverModifier added to SciChartSurface, we have fixed it in version 1.4.1578.

[2021-05-05 16:25] #82 closed

[2021-06-15 12:31] Wahesh opened #90 "Connect MQTT Endpoint to the Chart"
Has anyone tried using the SciChart with MQTT Endpoint? I am trying to connect a MQTT Endpoint to the Chart and it has not been working so far. The Charts work pretty well when data is given in a file but when it is given in as MQTT endpoint, the charts are not shown.
If there is a working Example of MQTT it would be nice.

[2021-06-16 13:22] andyb1979 commented on #90
Hi Wahesh,

It's not really our responsibility to show how to connect to frameworks like MQTT, but yes, SciChart should theoretically work with any data-provider, data-base or streaming source of data. We provide samples that show how to create a SciChart chart and how to update it in realtime. There are a number of video tutorials over here which can be helpful for instance.

[Tutorial 04 - Addin

[2021-06-16 17:26] tielushko opened #91 "Outiside labels for the SciChartPieSurface for .js"
I was looking over the documentation for the Pie Surface for JS and noticed that it does not have the outside label controls like the corresponding WPF surface does. I was wondering whether the team plans to release this improvement sometime in the future? I would appreciate your response!

[2021-06-16 23:19] hp8wvvvgnj6asjm7 opened #92 "fonts look pixelated"
really bad for a commercial charting solution. Design doesn't seem to matter for scichart? This is just one of countless other examples where design mistakes were made.  Look and feel is just really low with these charts.

![Screenshot 2021-06-16 at 23-18-14 LiDAR 3D Point Cloud of Geospatial Data JavaScript Chart Examples](https://user-images.githubusercontent.com/45887282/122307083-294ca700-cef9

[2021-06-16 23:26] hp8wvvvgnj6asjm7 commented on #92
... no comment..
please fix this.
speechless to how much carelessness was put into this.

![Screenshot 2021-06-16 at 23-25-17 Chart Legends API JavaScript Chart Examples](https://user-images.githubusercontent.com/45887282/122307590-28684500-cefa-11eb-99b1-b9569ebedb65.png)

[2021-06-17 09:42] andyb1979 commented on #92
I take your point about the 3d chart text, but not sure what the problem with the legend is?

3D Chart in SciChart.js uses a font-generation library called [FreeType](https://www.freetype.org/). Text rendering is notoriously difficult in 3d graphics! Nevertheless we aim for high quality across platforms so your complaint is duly noted

Best regards,
Andrew

[2021-06-17 18:01] andyb1979 commented on #91
Hi @tielushko , thanks for the comment, I'll feed this back to the tech team. If we haven't got hte feature we will add it to the roadmap.

By the way, did you know there's a new forum over at[ scichart.com/questions](https://www.scichart.com/questions) where you can post Q's directly to our team?

Best regards,
Andrew

[2021-06-17 18:02] andyb1979 commented on #13
Hi @puremood2002 , is this issue still active? We cannot reproduce any issues in Safari in our demo site at [demo.scichart.com](https://demo.scichart.com)

If you still require assistance, please send us a small demo project that reproduces the issue and our team will be glad to investigate.

By the way, did you know there's a new forum over at [scichart.com/questions](https://www.scichart.com/que

[2021-06-18 17:49] hp8wvvvgnj6asjm7 commented on #92
re: legend

Bad spacing. Checkbox goes against the scichart theme ( if we can call it a theme at all ).
- Font is too big.
- Checkbox too close to the colored box.
- First line's font is bigger than the rest ( yes it may have been intentional, but there are other ways to emphasis something **BOLD** anyone? )

[2021-06-18 17:50] hp8wvvvgnj6asjm7 commented on #92
If you can't see this, who is in chart of the UI / UX ?

[2021-06-18 17:50] hp8wvvvgnj6asjm7 commented on #92
If you can't see this, who is in charge of the UI / UX ?

[2021-06-18 17:52] hp8wvvvgnj6asjm7 commented on #92
Btw glowing lines on a chart is what nobody asked for. It looks like early era of flash websites, why are we continuing this?

[2021-06-18 17:56] hp8wvvvgnj6asjm7 commented on #92
Your charts all feel soft and about to melt. Font's are placed badly. It just feels like a toy.

[2021-06-18 18:02] hp8wvvvgnj6asjm7 commented on #92
scichart website has also many many design issues, don't even know where to start..
How the logo doesn't fit in? How the magnifying glass looks cheap? How the way the font is used is a complete nightmare?

This is good design: https://www.terra.money/

this is bad design: https://www.scichart.com/

similar font. different worlds.

[2021-06-18 18:03] hp8wvvvgnj6asjm7 commented on #92
I hover over your navigation and what does my mouse cursor do? Shows a text selection cursor.

[2021-06-18 18:03] andyb1979 commented on #92
The entire legend is customisable, if you want to change it’s pretty simple! Take a look at the Legend Modifier docs. If you have a tech question you can also ask it like “how do I customise the legend to fit with my theme”

We’re pretty transparent here at SciChart and we welcome constructive criticism, but if your plan is to get attention by being rude to me or my staff, you’re not going to get

[2021-06-18 18:05] hp8wvvvgnj6asjm7 commented on #92
F U C K ! Y O U !

[2021-06-18 18:05] #92 closed

[2021-06-18 18:05] andyb1979 commented on #92
Alright good bye now, have a nice evening & weekend wherever you are

[2021-06-18 18:52] andyb1979 opened #95 "SCICHART SUPPORT CHANNELS FOR PAID/TRIAL USERS"
A number of people are opening issues on [scichart.js.examples github repo](https://github.com/ABTSoftware/SciChart.JS.Examples). Please bear in mind that we have dedicated channels of support for our trial & paid customers where you may get a faster response. These are:

- [The SciChart Forums](https://www.scichart.com/questions) (trial or paid users)
- [Priority Support Desk](https://support.sci

[2021-06-25 11:44] #90 closed

[2021-06-25 11:46] #13 closed

[2021-08-20 14:05] #91 closed

[2021-09-22 10:26] klishevich commented on #91
Hi @tielushko support for outside labels has been implemented in version 2.0, which will be released soon. Right now alpha version is published https://www.npmjs.com/package/scichart/v/2.0.0-alpha.2007 and CustomerExamples are updated for version 2.x https://github.com/ABTSoftware/SciChart.JS.Examples/tree/dev_v2.x/Sandbox/CustomerExamples
This is the commit with changes to update 1.x -> 2.x https

[2021-09-24 20:19] tielushko commented on #91
Thanks for the update @klishevich! I ended up using a different pie chart, but sure will check out all the most recent updates to it!

[2021-11-05 13:12] #95 closed

[2021-12-27 11:52] amarg3891 opened #135 "xyAxis coordinate breaks when it comes to a customizable css!"
Hi there, I'm using https://demo.scichart.com/javascript-line-chart and i want to show that chart in a minimal height frame ?I tried css to minimize the chart's height, it works but after a refresh it breaks the xyAxis coordinates !!

[2022-01-10 09:12] klishevich commented on #135
Hi @amarg3891  please take a look at this example to customise the chart size - https://github.com/ABTSoftware/SciChart.JS.Examples/tree/master/Sandbox/CustomerExamples/SizeSciChartSurfaceToFitHeight

P.S. Please use our forum to ask questions https://github.com/ABTSoftware/SciChart.JS.Examples/issues/95

[2022-01-10 09:12] #135 closed

[2022-01-13 09:25] amarg3891 commented on #135
Yes It works as mentioned in code but actually I'm getting problem that why xAxis is not visible.
`
// SCICHART
![Scichart](https://user-images.githubusercontent.com/63994344/149301697-1219887d-1950-4665-98e5-325b89dd15f4.png)

const drawExample = async (
    setInfoEcg: React.Dispatch<React.SetStateAction<number>>,
) => {
    SciChartSurface.setRuntimeLicenseKey(Secret_key);

    const { sciChart

[2022-01-13 09:28] amarg3891 opened #141 "Visibility of xAxis co-ordinates disappeared after modifying chart size??"
Yes It works as mentioned in code but actually I'm getting problem that why xAxis is not visible.
`
// SCICHART
![Scichart](https://user-images.githubusercontent.com/63994344/149301697-1219887d-1950-4665-98e5-325b89dd15f4.png)

Here's the some code blocks :-
const drawExample = async (
    setInfoEcg: React.Dispatch<React.SetStateAction<number>>,
) => {
    SciChartSurface.setRuntimeLicenseKey(Sec

[2022-01-26 14:49] antichaosdb commented on #141
I wasn't able to reproduce the problem from the code above.   Is it possible that you have some style in a parent container that is restricting the chart height?  Does the problem appear for chart heights above or below some value?

[2022-06-02 14:43] frankimhof opened #155 "create-react-app with scichart 2.2.2378 not working"
## setup
- Brave Version 1.39.111, Chromium: 102.0.5005.61
- `create-creact-app sci-try --template typescript` (React 18.1.0)
- `npm i scichart` (Scichart 2.2.2378)
- `npm i -D copy-files-from-to`
- a simple scichart as described in [demo-create-react-app](https://github.com/ABTSoftware/SciChart.JS.Examples/tree/master/Sandbox/demo-create-react-app-scichart) (with custom `wasmCopy` and `dev` scrip

[2022-07-04 15:15] antichaosdb commented on #155
A bugfix related to this was just released.  Can you retry with latest 2.2.2397?

SciChart Ltd

[2022-07-05 08:15] frankimhof commented on #155
Test with version 2.2.2397 was successful.
Thanks.

[2022-07-05 08:15] #155 closed

[2022-08-03 03:46] dajma00 opened #159 "Guide for Blazor Server"
I will appreciate a setup guide for server side Blazor.

[2022-08-04 13:11] umernawaz0301 opened #160 "XyDataSeries: Plotting issue"
Hi There,

I'm facing an issue when plotting data into the Column Chart. Our data structure is a bit different from the example I found in your documentation that in XyDataSeries, you are adding value in an array format for both axis

Is there any possibility to display data in this format: [ { datetime: '2022-08-04', value: 20 }, { datetime: '2022-08-03', value: 15 }, {datetime: '2022-08-02', val

[2022-08-08 11:47] andyb1979 commented on #159
Hi there, we have some new community posts on our forums which may be able to help you. Please check out

[How to run sciChart JS in Server Side Blazor](https://www.scichart.com/questions/js/how-to-run-scichart-js-in-server-side-blazor)
and also try the open source [SciChart.js Blazor wrapper here](https://github.com/NRTDP/SciChartBlazor).

Best regards
Andrew

[2022-08-08 11:49] andyb1979 commented on #160
Hi there,

The XyDataSeries requires you to put data in 'structure of arrays' format. This is for performance reasons.

It should be easy to shape the data from JSON or Javascript object into arrays using Javascript map and filter functions. Please note that dates must be converted to Unix timestamp for SciChart.js to be able to process them.

[2022-11-10 13:01] #141 closed

[2022-11-10 13:02] #160 closed